*target
*.cache
*.classpath
*.project
*.settings
*.idea
*.idea_modules
*.tmpBin
/logs
/extras/jrebel-5.6.3a/licensing.info
/sbtIvy
/conf/evolutions
/bin/
/sbt
/sbt.bat
/elish.bat
*.sbtserver*
/conf/generated.keystore
bin
.cache-tests
.cache-main