sudo: true
language: scala

scala:
  - 2.11.8

jdk:
  - oraclejdk8

script:
  - sbt ++$TRAVIS_SCALA_VERSION fsn-json/clean fsn-core/clean coverage fsn-json/test
  - sbt ++$TRAVIS_SCALA_VERSION fsn-json/coverageReport

after_success: bash <(curl -s https://codecov.io/bash)